# 1. Load and Inspect data

In [37]:
import pandas as pd
import os

from Tools.scripts.dutree import display

# Define the path to the raw data directory
RAW_DATA_PATH = "../backend/data/raw/csv/"

# List of datasets to load
datasets = ["patients", "conditions", "encounters", "medications", "claims", "payers", "organizations", "providers"]


# Load datasets into a dictionary
dfs = {}
for dataset in datasets:
    file_path = os.path.join(RAW_DATA_PATH, f"{dataset}.csv")
    if os.path.exists(file_path):
        dfs[dataset] = pd.read_csv(file_path, dtype=str)
        print(f"Loaded {dataset}.csv with {dfs[dataset].shape[0]} rows and {dfs[dataset].shape[1]} columns.")
    else:
        print(f"File {dataset}.csv not found in the raw data folder.")

Loaded patients.csv with 2287 rows and 28 columns.
Loaded conditions.csv with 93114 rows and 7 columns.
Loaded encounters.csv with 167146 rows and 15 columns.
Loaded medications.csv with 163608 rows and 13 columns.
Loaded claims.csv with 330754 rows and 31 columns.
Loaded payers.csv with 10 rows and 22 columns.

# 2.1 Patients dataset

In [38]:
# Load and inspect the patients dataset
df_patients = dfs["patients"]

# Display column names
print("Columns in patients dataset:")
print(df_patients.columns.tolist())

# Expand column display width in Jupyter Notebook
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Show first 5 rows
print("\nFirst 5 rows of patients dataset:")
display(df_patients.head())

Columns in patients dataset:
['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'MIDDLE', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'FIPS', 'ZIP', 'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE', 'INCOME']

First 5 rows of patients dataset:

                                     Id   BIRTHDATE DEATHDATE          SSN    DRIVERS    PASSPORT PREFIX         FIRST       MIDDLE            LAST SUFFIX   MAIDEN MARITAL   RACE    ETHNICITY GENDER                  BIRTHPLACE                       ADDRESS        CITY       STATE              COUNTY  FIPS    ZIP                 LAT                  LON HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE  INCOME
0  a02a3f43-b6f4-d209-4062-af0cec3b22c1  2015-08-02       NaN  999-99-5386        NaN         NaN    NaN     Jacobo456  Patricio639       Malave728    NaN      NaN     NaN  white     hispanic      M    Gaudalajara  Jalisco  MX  530 Zboncak Landing Suite 63  Montebello  California  Los Angeles County  6037  90022  34.012467415112646  -118.14746462284438            33339.29             4690.13   65295
1  d92132ce-06ac-3ab4-217f-97257a290b22  2011-09-25       NaN  999-65-7810        NaN         NaN    NaN   Dannette613    Darcie474        Bauch723    NaN      NaN     NaN  white  nonhispanic      F    Berkeley  California  US               593 Doyle Ranch  Lemon Hill  California   Sacramento County   NaN  00000   38.55092979196755  -121.40955183225064             2798.49           141417.37   31770
2  abc59f62-dc5a-5095-1141-80b4ee8be73b  1996-06-13       NaN  999-37-1058  S99918022  X63553287X   Mrs.     Jacque955       Jin479  Satterfield305    NaN  Will178       M  white  nonhispanic      F  Santa Cruz  California  US            492 Keebler Estate   Fairfield  California       Solano County  6095  94585   38.18324005715623   -121.9588555053258           348990.79           186000.37   41915
3  54f1059e-6250-3949-6dd0-1dda9b85d22a  2003-02-12       NaN  999-28-3364  S99936929  X15345756X    Ms.  Fredricka415     Matha641        Crist667    NaN      NaN     NaN  white  nonhispanic      F    San Jose  California  US      931 Bartell Ville Apt 84      Irvine  California       Orange County  6059  92676   33.74517092481692  -117.74997027981273            56198.94           133887.30  330702
4  239ae86a-96db-6211-9042-d3f2850aabb8  1970-06-17       NaN  999-74-7366  S99962894  X13153521X    Mr.    Darrell400     Harry448       Muller251    NaN      NaN       D  white     hispanic      M      Dublin  California  US             541 Stracke Plaza    San Jose  California  Santa Clara County  6085  95140   37.30226576037261  -121.96683622886896            10675.97           194000.08    3928

# 2.2 Drop Unnecessary Columns

In [39]:
# Define columns to drop
columns_to_drop = ['PREFIX', 'MIDDLE', 'SSN', 'DRIVERS', 'PASSPORT', 'SUFFIX', 'MAIDEN', 'BIRTHPLACE', 'FIPS', 'LAT', 'LON']

# Drop columns
df_patients_cleaned = df_patients.drop(columns=columns_to_drop)

# Display the updated dataset
print("Columns after dropping unnecessary ones:")
print(df_patients_cleaned.columns.tolist())

# Show first 5 rows after cleanup
display(df_patients_cleaned.head())

Columns after dropping unnecessary ones:
['Id', 'BIRTHDATE', 'DEATHDATE', 'FIRST', 'LAST', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE', 'INCOME']

                                     Id   BIRTHDATE DEATHDATE         FIRST            LAST MARITAL   RACE    ETHNICITY GENDER                       ADDRESS        CITY       STATE              COUNTY    ZIP HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE  INCOME
0  a02a3f43-b6f4-d209-4062-af0cec3b22c1  2015-08-02       NaN     Jacobo456       Malave728     NaN  white     hispanic      M  530 Zboncak Landing Suite 63  Montebello  California  Los Angeles County  90022            33339.29             4690.13   65295
1  d92132ce-06ac-3ab4-217f-97257a290b22  2011-09-25       NaN   Dannette613        Bauch723     NaN  white  nonhispanic      F               593 Doyle Ranch  Lemon Hill  California   Sacramento County  00000             2798.49           141417.37   31770
2  abc59f62-dc5a-5095-1141-80b4ee8be73b  1996-06-13       NaN     Jacque955  Satterfield305       M  white  nonhispanic      F            492 Keebler Estate   Fairfield  California       Solano County  94585           348990.79           186000.37   41915
3  54f1059e-6250-3949-6dd0-1dda9b85d22a  2003-02-12       NaN  Fredricka415        Crist667     NaN  white  nonhispanic      F      931 Bartell Ville Apt 84      Irvine  California       Orange County  92676            56198.94           133887.30  330702
4  239ae86a-96db-6211-9042-d3f2850aabb8  1970-06-17       NaN    Darrell400       Muller251       D  white     hispanic      M             541 Stracke Plaza    San Jose  California  Santa Clara County  95140            10675.97           194000.08    3928

# 2.3 Missing values

In [40]:
# Check for missing values in each column
missing_values = df_patients_cleaned.isnull().sum()

# Display only columns with missing values
missing_values = missing_values[missing_values > 0]

if missing_values.empty:
    print("No missing values found.")
else:
    print("Missing values per column:")
    print(missing_values)

Missing values per column:
DEATHDATE    2000
MARITAL       811
dtype: int64

In [41]:
# Fill missing MARITAL status with 'Unknown' using assignment (correct method)
df_patients_cleaned["MARITAL"] = df_patients_cleaned["MARITAL"].fillna("Unknown")

# Keep DEATHDATE as NULL (no replacement)

# Display updated missing values
print("Missing values after cleaning:")
print(df_patients_cleaned.isnull().sum())
# Show first 5 rows after cleanup
display(df_patients_cleaned.head())

Missing values after cleaning:
Id                        0
BIRTHDATE                 0
DEATHDATE              2000
FIRST                     0
LAST                      0
MARITAL                   0
RACE                      0
ETHNICITY                 0
GENDER                    0
ADDRESS                   0
CITY                      0
STATE                     0
COUNTY                    0
ZIP                       0
HEALTHCARE_EXPENSES       0
HEALTHCARE_COVERAGE       0
INCOME                    0
dtype: int64

                                     Id   BIRTHDATE DEATHDATE         FIRST            LAST  MARITAL   RACE    ETHNICITY GENDER                       ADDRESS        CITY       STATE              COUNTY    ZIP HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE  INCOME
0  a02a3f43-b6f4-d209-4062-af0cec3b22c1  2015-08-02       NaN     Jacobo456       Malave728  Unknown  white     hispanic      M  530 Zboncak Landing Suite 63  Montebello  California  Los Angeles County  90022            33339.29             4690.13   65295
1  d92132ce-06ac-3ab4-217f-97257a290b22  2011-09-25       NaN   Dannette613        Bauch723  Unknown  white  nonhispanic      F               593 Doyle Ranch  Lemon Hill  California   Sacramento County  00000             2798.49           141417.37   31770
2  abc59f62-dc5a-5095-1141-80b4ee8be73b  1996-06-13       NaN     Jacque955  Satterfield305        M  white  nonhispanic      F            492 Keebler Estate   Fairfield  California       Solano County  94585           348990.79           186000.37   41915
3  54f1059e-6250-3949-6dd0-1dda9b85d22a  2003-02-12       NaN  Fredricka415        Crist667  Unknown  white  nonhispanic      F      931 Bartell Ville Apt 84      Irvine  California       Orange County  92676            56198.94           133887.30  330702
4  239ae86a-96db-6211-9042-d3f2850aabb8  1970-06-17       NaN    Darrell400       Muller251        D  white     hispanic      M             541 Stracke Plaza    San Jose  California  Santa Clara County  95140            10675.97           194000.08    3928

In [42]:
# Check data types of the cleaned dataset
print(df_patients_cleaned.dtypes)

Id                     object
BIRTHDATE              object
DEATHDATE              object
FIRST                  object
LAST                   object
MARITAL                object
RACE                   object
ETHNICITY              object
GENDER                 object
ADDRESS                object
CITY                   object
STATE                  object
COUNTY                 object
ZIP                    object
HEALTHCARE_EXPENSES    object
HEALTHCARE_COVERAGE    object
INCOME                 object
dtype: object

In [43]:
import pandas as pd

# Rename Id column to PATIENTID
df_patients_cleaned = df_patients_cleaned.rename(columns={"Id": "PATIENTID"})

# Convert BIRTHDATE and DEATHDATE to datetime format
df_patients_cleaned["BIRTHDATE"] = pd.to_datetime(df_patients_cleaned["BIRTHDATE"], errors="coerce")
df_patients_cleaned["DEATHDATE"] = pd.to_datetime(df_patients_cleaned["DEATHDATE"], errors="coerce")

# Calculate AGE from BIRTHDATE
today = pd.Timestamp.today()
df_patients_cleaned["AGE"] = df_patients_cleaned["BIRTHDATE"].apply(lambda x: today.year - x.year if pd.notnull(x) else None)

# Convert financial columns to float
financial_columns = ["HEALTHCARE_EXPENSES", "HEALTHCARE_COVERAGE", "INCOME"]
for col in financial_columns:
    df_patients_cleaned[col] = pd.to_numeric(df_patients_cleaned[col], errors="coerce")

# Round financial values to 2 decimal places
df_patients_cleaned[financial_columns] = df_patients_cleaned[financial_columns].round(2)

# Remove numbers from FIRST and LAST names
df_patients_cleaned["FIRST"] = df_patients_cleaned["FIRST"].apply(lambda x: re.sub(r'\d+$', '', x) if pd.notnull(x) else x)
df_patients_cleaned["LAST"] = df_patients_cleaned["LAST"].apply(lambda x: re.sub(r'\d+$', '', x) if pd.notnull(x) else x)

# Display the updated data types and first few rows
print(df_patients_cleaned.dtypes)
display(df_patients_cleaned.head())

PATIENTID                      object
BIRTHDATE              datetime64[ns]
DEATHDATE              datetime64[ns]
FIRST                          object
LAST                           object
MARITAL                        object
RACE                           object
ETHNICITY                      object
GENDER                         object
ADDRESS                        object
CITY                           object
STATE                          object
COUNTY                         object
ZIP                            object
HEALTHCARE_EXPENSES           float64
HEALTHCARE_COVERAGE           float64
INCOME                          int64
AGE                             int64
dtype: object

                              PATIENTID  BIRTHDATE DEATHDATE      FIRST         LAST  MARITAL   RACE    ETHNICITY GENDER                       ADDRESS        CITY       STATE              COUNTY    ZIP  HEALTHCARE_EXPENSES  HEALTHCARE_COVERAGE  INCOME  AGE
0  a02a3f43-b6f4-d209-4062-af0cec3b22c1 2015-08-02       NaT     Jacobo       Malave  Unknown  white     hispanic      M  530 Zboncak Landing Suite 63  Montebello  California  Los Angeles County  90022             33339.29              4690.13   65295   10
1  d92132ce-06ac-3ab4-217f-97257a290b22 2011-09-25       NaT   Dannette        Bauch  Unknown  white  nonhispanic      F               593 Doyle Ranch  Lemon Hill  California   Sacramento County  00000              2798.49            141417.37   31770   14
2  abc59f62-dc5a-5095-1141-80b4ee8be73b 1996-06-13       NaT     Jacque  Satterfield        M  white  nonhispanic      F            492 Keebler Estate   Fairfield  California       Solano County  94585            348990.79            186000.37   41915   29
3  54f1059e-6250-3949-6dd0-1dda9b85d22a 2003-02-12       NaT  Fredricka        Crist  Unknown  white  nonhispanic      F      931 Bartell Ville Apt 84      Irvine  California       Orange County  92676             56198.94            133887.30  330702   22
4  239ae86a-96db-6211-9042-d3f2850aabb8 1970-06-17       NaT    Darrell       Muller        D  white     hispanic      M             541 Stracke Plaza    San Jose  California  Santa Clara County  95140             10675.97            194000.08    3928   55

In [44]:
print("Missing PATIENTID values:", df_patients_cleaned["PATIENTID"].isnull().sum())

Missing PATIENTID values: 0

In [45]:
print(df_patients_cleaned["ZIP"].unique()[:10])  # Show sample ZIP values

['90022' '00000' '94585' '92676' '95140' '90066' '91210' '92870' '93117'
 '92703']

In [46]:
df_patients_cleaned["ZIP"] = df_patients_cleaned["ZIP"].astype(str)

In [47]:
import os

PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

df_patients_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "patients_cleaned.csv"), index=False)

print("✅ Cleaned patients dataset saved successfully!")

✅ Cleaned patients dataset saved successfully!

# 3.1 Conditions Dataset

In [69]:
# Load conditions dataset
df_conditions = dfs["conditions"]

# Display all column names
print("Columns in conditions dataset:")
print(df_conditions.columns.tolist())

# Show first 5 rows
display(df_conditions.head())

Columns in conditions dataset:
['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'SYSTEM', 'CODE', 'DESCRIPTION']

        START        STOP                               PATIENT                             ENCOUNTER                  SYSTEM       CODE                            DESCRIPTION
0  2015-03-01  2016-09-04  d92132ce-06ac-3ab4-217f-97257a290b22  e0819fcd-cd3c-371c-efa4-d923e3788730  http://snomed.info/sct  314529007      Medication review due (situation)
1  2015-08-02  2016-04-10  a02a3f43-b6f4-d209-4062-af0cec3b22c1  b06e3a3b-7d43-d28d-06c9-db649f132502  http://snomed.info/sct  314529007      Medication review due (situation)
2  2016-09-23  2016-10-23  d92132ce-06ac-3ab4-217f-97257a290b22  c138ba5e-eea4-b4a1-d431-30ae17bedfad  http://snomed.info/sct   32911000                     Homeless (finding)
3  2015-09-13  2015-11-08  a02a3f43-b6f4-d209-4062-af0cec3b22c1  722dacab-9a59-66ca-16f9-16703dcd2543  http://snomed.info/sct   65363002                Otitis media (disorder)
4  2017-08-12         NaN  d92132ce-06ac-3ab4-217f-97257a290b22  364c86f0-1d1f-6fcb-bd8c-5f55d8bc0d47  http://snomed.info/sct  367498001  Seasonal allergic rhinitis (disorder)

# 3.2 Drop unnecessary columns

In [70]:
import pandas as pd

# Load conditions dataset
df_conditions = dfs["conditions"]

# Drop SYSTEM and CODE columns
df_conditions_cleaned = df_conditions.drop(columns=["SYSTEM", "CODE"])

# Convert START and STOP to datetime format
df_conditions_cleaned["START"] = pd.to_datetime(df_conditions_cleaned["START"], errors="coerce")
df_conditions_cleaned["STOP"] = pd.to_datetime(df_conditions_cleaned["STOP"], errors="coerce")

# Display cleaned data
print(df_conditions_cleaned.dtypes)
display(df_conditions_cleaned.head())

START          datetime64[ns]
STOP           datetime64[ns]
PATIENT                object
ENCOUNTER              object
DESCRIPTION            object
dtype: object

       START       STOP                               PATIENT                             ENCOUNTER                            DESCRIPTION
0 2015-03-01 2016-09-04  d92132ce-06ac-3ab4-217f-97257a290b22  e0819fcd-cd3c-371c-efa4-d923e3788730      Medication review due (situation)
1 2015-08-02 2016-04-10  a02a3f43-b6f4-d209-4062-af0cec3b22c1  b06e3a3b-7d43-d28d-06c9-db649f132502      Medication review due (situation)
2 2016-09-23 2016-10-23  d92132ce-06ac-3ab4-217f-97257a290b22  c138ba5e-eea4-b4a1-d431-30ae17bedfad                     Homeless (finding)
3 2015-09-13 2015-11-08  a02a3f43-b6f4-d209-4062-af0cec3b22c1  722dacab-9a59-66ca-16f9-16703dcd2543                Otitis media (disorder)
4 2017-08-12        NaT  d92132ce-06ac-3ab4-217f-97257a290b22  364c86f0-1d1f-6fcb-bd8c-5f55d8bc0d47  Seasonal allergic rhinitis (disorder)

# 3.3 Creating new useful columns

In [71]:
# Rename PATIENT column to PATIENTID
df_conditions_cleaned = df_conditions_cleaned.rename(columns={"PATIENT": "PATIENTID", "ENCOUNTER": "ENCOUNTERID"})

# Calculate condition duration in days and round to integer
df_conditions_cleaned["CONDITION_DURATION_DAYS"] = (df_conditions_cleaned["STOP"] - df_conditions_cleaned["START"]).dt.days.fillna(0).astype(int)

import re

# Extract condition type (text inside parentheses)
df_conditions_cleaned["CONDITION_TYPE"] = df_conditions_cleaned["DESCRIPTION"].apply(
    lambda x: re.findall(r'\((.*?)\)', x)[-1] if pd.notnull(x) and "(" in x else "Unknown"
)

# Remove condition type from DESCRIPTION column
df_conditions_cleaned["DESCRIPTION"] = df_conditions_cleaned["DESCRIPTION"].apply(
    lambda x: re.sub(r'\s*\(.*?\)', '', x) if pd.notnull(x) else x
)


# Display to confirm
# Display cleaned data
print(df_conditions_cleaned.dtypes)
display(df_conditions_cleaned.head())

START             datetime64[ns]
STOP              datetime64[ns]
PATIENTID                 object
ENCOUNTER                 object
DESCRIPTION               object
DURATION_DAYS            float64
CONDITION_TYPE            object
dtype: object

       START       STOP                             PATIENTID                             ENCOUNTER                 DESCRIPTION  DURATION_DAYS CONDITION_TYPE
0 2015-03-01 2016-09-04  d92132ce-06ac-3ab4-217f-97257a290b22  e0819fcd-cd3c-371c-efa4-d923e3788730       Medication review due          553.0      situation
1 2015-08-02 2016-04-10  a02a3f43-b6f4-d209-4062-af0cec3b22c1  b06e3a3b-7d43-d28d-06c9-db649f132502       Medication review due          252.0      situation
2 2016-09-23 2016-10-23  d92132ce-06ac-3ab4-217f-97257a290b22  c138ba5e-eea4-b4a1-d431-30ae17bedfad                    Homeless           30.0        finding
3 2015-09-13 2015-11-08  a02a3f43-b6f4-d209-4062-af0cec3b22c1  722dacab-9a59-66ca-16f9-16703dcd2543                Otitis media           56.0       disorder
4 2017-08-12        NaT  d92132ce-06ac-3ab4-217f-97257a290b22  364c86f0-1d1f-6fcb-bd8c-5f55d8bc0d47  Seasonal allergic rhinitis            NaN       disorder

# 3.4 Missing values

In [72]:
print("Missing values in conditions dataset:")
print(df_conditions_cleaned.isnull().sum())

Missing values in conditions dataset:
START                 0
STOP              21524
PATIENTID             0
ENCOUNTER             0
DESCRIPTION           0
DURATION_DAYS     21524
CONDITION_TYPE        0
dtype: int64

# 3.5 Duplicates

In [73]:
duplicates = df_conditions_cleaned.duplicated().sum()
print(f"Duplicate rows: {duplicates}")

Duplicate rows: 0

# 3.6 Repositioning key column order

In [ ]:
# Move PATIENTID and ENCOUNTERID to the first two positions
columns_order = ["PATIENTID", "ENCOUNTERID"] + [col for col in df_conditions_cleaned.columns if col not in ["PATIENTID", "ENCOUNTERID"]]
df_conditions_cleaned = df_conditions_cleaned[columns_order]

# Display to verify the new column order
display(df_conditions_cleaned.head())

# 3.6 Saving the file

In [74]:
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

df_conditions_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "conditions_cleaned.csv"), index=False)

print("✅ Cleaned conditions dataset saved successfully!")

✅ Cleaned conditions dataset saved successfully!

# 4.1 Encounters Dataset

In [ ]:
# Load encounters dataset
df_encounters = dfs["encounters"]

# Display all column names
print("Columns in encounters dataset:")
print(df_encounters.columns.tolist())

# Show first 5 rows
display(df_encounters.head())

# 4.2 Drop unnecessary columns

In [ ]:
# Drop unnecessary columns
columns_to_drop = ["CODE", "REASONCODE", "ORGANIZATION"]
df_encounters_cleaned = df_encounters.drop(columns=columns_to_drop, errors="ignore")

# Display cleaned data
display(df_encounters_cleaned.head())

# 4.3 Datatype conversion

In [ ]:
# Convert START and STOP to datetime format
df_encounters_cleaned["START"] = pd.to_datetime(df_encounters_cleaned["START"], errors="coerce")
df_encounters_cleaned["STOP"] = pd.to_datetime(df_encounters_cleaned["STOP"], errors="coerce")

# Convert financial columns to float
financial_columns = ["BASE_ENCOUNTER_COST", "TOTAL_CLAIM_COST", "PAYER_COVERAGE"]
for col in financial_columns:
    df_encounters_cleaned[col] = pd.to_numeric(df_encounters_cleaned[col], errors="coerce")

# Display cleaned dataset
print(df_encounters_cleaned.dtypes)
display(df_encounters_cleaned.head())

# 4.4 Renaming columns

In [ ]:
# Rename columns for clarity
df_encounters_cleaned = df_encounters_cleaned.rename(columns={
    "Id": "ENCOUNTERID",
    "PATIENT": "PATIENTID",
    "ORGANIZATION": "ORGANIZATIONID",
    "PAYER": "PAYERID",
    "PROVIDER": "PROVIDERID",
    "DESCRIPTION": "ENCOUNTER_DESCRIPTION",
    "REASONDESCRIPTION": "ENCOUNTER_REASON_DESCRIPTION"
})

# Display renamed dataset
print("Columns after renaming:")
print(df_encounters_cleaned.columns.tolist())
display(df_encounters_cleaned.head())

# 4.5 Creating new columns

In [ ]:
import pandas as pd
import re

# Remove text inside parentheses from ENCOUNTER_DESCRIPTION
df_encounters_cleaned["ENCOUNTER_DESCRIPTION"] = df_encounters_cleaned["ENCOUNTER_DESCRIPTION"].apply(
    lambda x: re.sub(r'\s*\(.*?\)', '', x) if pd.notnull(x) else x
)

# Fill missing values with "Unknown" before processing
df_encounters_cleaned["ENCOUNTER_REASON_DESCRIPTION"].fillna("Unknown", inplace=True)

# Extract text inside parentheses from ENCOUNTER_REASON_DESCRIPTION
df_encounters_cleaned["ENCOUNTER_REASON_TYPE"] = df_encounters_cleaned["ENCOUNTER_REASON_DESCRIPTION"].apply(
    lambda x: re.findall(r'\((.*?)\)', x)[-1] if "(" in x else "Unknown"
)

# Remove the extracted part from ENCOUNTER_REASON_DESCRIPTION to keep it clean
df_encounters_cleaned["ENCOUNTER_REASON_DESCRIPTION"] = df_encounters_cleaned["ENCOUNTER_REASON_DESCRIPTION"].apply(
    lambda x: re.sub(r'\s*\(.*?\)', '', x) if pd.notnull(x) else x
)

In [ ]:
# Calculate duration in minutes
df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"] = (df_encounters_cleaned["STOP"] - df_encounters_cleaned["START"]).dt.total_seconds() / 60

# Round encounter duration in minutes to avoid decimals
df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"] = df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"].round(0).astype(int)

# Create a formatted duration column for readability
def format_duration(minutes):
    if pd.isnull(minutes):
        return "Unknown"
    elif minutes >= 1440:  # More than a day
        return f"{round(minutes / 1440)} days"
    elif minutes >= 60:  # More than an hour
        return f"{round(minutes / 60)} hours"
    else:
        return f"{int(round(minutes))} minutes"

df_encounters_cleaned["ENCOUNTER_DURATION"] = df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"].apply(format_duration)

In [ ]:
# Round encounter duration in minutes to avoid decimals
df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"] = df_encounters_cleaned["ENCOUNTER_DURATION_MINUTES"].round(0).astype(int)

In [ ]:
# Display cleaned dataset
print(df_encounters_cleaned.dtypes)
display(df_encounters_cleaned[["START", "STOP", "ENCOUNTER_DURATION", "ENCOUNTER_DURATION_MINUTES"]].tail(10))

In [ ]:
print(df_encounters_cleaned[["BASE_ENCOUNTER_COST", "TOTAL_CLAIM_COST"]].describe())

In [ ]:
# Out-of-pocket cost: How much the patient pays directly
df_encounters_cleaned["OUT_OF_POCKET_COST"] = df_encounters_cleaned["TOTAL_CLAIM_COST"] - df_encounters_cleaned["PAYER_COVERAGE"]

# Cost coverage ratio: Percentage of total cost covered by insurance (0 to 1)
df_encounters_cleaned["COST_COVERAGE_RATIO"] = df_encounters_cleaned["PAYER_COVERAGE"] / df_encounters_cleaned["TOTAL_CLAIM_COST"]

# Claim profit margin: Difference between total claim cost and base cost
df_encounters_cleaned["CLAIM_PROFIT_MARGIN"] = df_encounters_cleaned["TOTAL_CLAIM_COST"] - df_encounters_cleaned["BASE_ENCOUNTER_COST"]

# Handle cases where division results in NaN (e.g., zero division)
df_encounters_cleaned["COST_COVERAGE_RATIO"].fillna(0, inplace=True)

# Round monetary values to whole numbers
df_encounters_cleaned["OUT_OF_POCKET_COST"] = df_encounters_cleaned["OUT_OF_POCKET_COST"].round(0).astype(int)
df_encounters_cleaned["CLAIM_PROFIT_MARGIN"] = df_encounters_cleaned["CLAIM_PROFIT_MARGIN"].round(0).astype(int)

# Keep cost coverage ratio with 2 decimal places
df_encounters_cleaned["COST_COVERAGE_RATIO"] = df_encounters_cleaned["COST_COVERAGE_RATIO"].round(2)

In [ ]:
# Display dataset with new variables
display(df_encounters_cleaned[[
    "BASE_ENCOUNTER_COST", "TOTAL_CLAIM_COST", "PAYER_COVERAGE", 
    "OUT_OF_POCKET_COST", "COST_COVERAGE_RATIO", "CLAIM_PROFIT_MARGIN"
]].head())

In [ ]:
print(df_encounters_cleaned.dtypes)
display(df_encounters_cleaned.head())

# 4.6 Repositioning key column order

In [ ]:
# Move PATIENTID to the second column position
columns_order = ["ENCOUNTERID", "PATIENTID"] + [col for col in df_encounters_cleaned.columns if col not in ["ENCOUNTERID", "PATIENTID"]]
df_encounters_cleaned = df_encounters_cleaned[columns_order]

# Display to verify the new column order
display(df_encounters_cleaned.head())

# 4.7 Save the cleaned encounters dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned encounters dataset
df_encounters_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "encounters_cleaned.csv"), index=False)

print("✅ Cleaned encounters dataset saved successfully!")

# 5.1 Medications datset

In [ ]:
# Load medications dataset
df_medications = dfs["medications"]

# Display all column names
print("Columns in medications dataset:")
print(df_medications.columns.tolist())

# Show first 5 rows
display(df_medications.head())

# 5.2 Drop unnecessary columns

In [ ]:
# Drop unnecessary columns
columns_to_drop = ["CODE", "REASONCODE"]
df_medications_cleaned = df_medications.drop(columns=columns_to_drop, errors="ignore")

# Display cleaned dataset
display(df_medications_cleaned.head())

# 5.3 Renaming columns

In [ ]:
# Rename columns for clarity
df_medications_cleaned = df_medications_cleaned.rename(columns={
    "PATIENT": "PATIENTID",
    "PAYER": "PAYERID",
    "ENCOUNTER": "ENCOUNTERID",
    "DESCRIPTION": "MEDICATION_DESCRIPTION",
    "REASONDESCRIPTION": "MEDICATION_REASON_DESCRIPTION"
})

# Display renamed dataset
print("Columns after renaming:")
print(df_medications_cleaned.columns.tolist())
display(df_medications_cleaned.head())

# 5.4 Creating new columns

In [ ]:
print(df_medications_cleaned.dtypes)

In [ ]:
import numpy as np

# Convert START and STOP to datetime
df_medications_cleaned["START"] = pd.to_datetime(df_medications_cleaned["START"], errors="coerce")
df_medications_cleaned["STOP"] = pd.to_datetime(df_medications_cleaned["STOP"], errors="coerce")

# Calculate medication duration in days and round to integer
df_medications_cleaned["MEDICATION_DURATION_DAYS"] = (df_medications_cleaned["STOP"] - df_medications_cleaned["START"]).dt.days.fillna(0).astype(int)

# tackling the data entry issue with wrong STOP dates by replacing the above outputnegative values with 0
df_medications_cleaned["MEDICATION_DURATION_DAYS"] = df_medications_cleaned["MEDICATION_DURATION_DAYS"].clip(lower=0)


# Convert financial columns to numeric
numeric_columns = ["BASE_COST", "PAYER_COVERAGE", "DISPENSES", "TOTALCOST"]
for col in numeric_columns:
    df_medications_cleaned[col] = pd.to_numeric(df_medications_cleaned[col], errors="coerce")

# Convert financial columns to numeric
numeric_columns = ["BASE_COST", "PAYER_COVERAGE", "DISPENSES", "TOTALCOST"]
for col in numeric_columns:
    df_medications_cleaned[col] = pd.to_numeric(df_medications_cleaned[col], errors="coerce")

# Calculate out-of-pocket cost (amount the patient pays)
df_medications_cleaned["OUT_OF_POCKET_COST"] = df_medications_cleaned["TOTALCOST"] - df_medications_cleaned["PAYER_COVERAGE"]

# Calculate cost coverage ratio (percentage covered by insurance)
df_medications_cleaned["COST_COVERAGE_RATIO"] = df_medications_cleaned["PAYER_COVERAGE"] / df_medications_cleaned["TOTALCOST"]

# Calculate cost per dispense (avoid division by zero)
df_medications_cleaned["PER_DISPENSE_COST"] = np.where(
    df_medications_cleaned["DISPENSES"] > 0, 
    df_medications_cleaned["TOTALCOST"] / df_medications_cleaned["DISPENSES"], 
    np.nan
)

# Handle NaN values in COST_COVERAGE_RATIO (e.g., division by zero cases)
df_medications_cleaned["COST_COVERAGE_RATIO"].fillna(0, inplace=True)

# Round monetary values to whole numbers
df_medications_cleaned["OUT_OF_POCKET_COST"] = df_medications_cleaned["OUT_OF_POCKET_COST"].round(0).astype(int)
df_medications_cleaned["PER_DISPENSE_COST"] = df_medications_cleaned["PER_DISPENSE_COST"].round(0).astype(int)

# Keep cost coverage ratio with 2 decimal places
df_medications_cleaned["COST_COVERAGE_RATIO"] = df_medications_cleaned["COST_COVERAGE_RATIO"].round(2)

# filling missing values of medications_reason_description with unknown.
df_medications_cleaned["MEDICATION_REASON_DESCRIPTION"].fillna("Unknown", inplace=True)

# Display dataset to verify new columns
print(df_medications_cleaned.dtypes)
display(df_medications_cleaned.head())

# 5.5 Positioning FK column order

In [ ]:
# moving key columns to the starting column positions
columns_order = ["PATIENTID", "ENCOUNTERID", "PAYERID"] + [
    col for col in df_medications_cleaned.columns if col not in ["PATIENTID", "ENCOUNTERID", "PAYERID"]
]
df_medications_cleaned = df_medications_cleaned[columns_order]

# Display to verify the new column order
display(df_medications_cleaned.head())

In [ ]:
print(df_medications_cleaned.isna().sum())

# 5.6 Saving cleaned medications dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned medications dataset
df_medications_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "medications_cleaned.csv"), index=False)

print("✅ Cleaned medications dataset saved successfully!")

# 6.1 Claims dataset

In [ ]:
# Load claims dataset
df_claims = dfs["claims"]

# Display all column names
print("Columns in claims dataset:")
print(df_claims.columns.tolist())

# Show first 5 rows
display(df_claims.head())

# 6.2 Keeping only useful columns

In [ ]:
# Select only the required columns
columns_to_keep = [
    "Id", "PATIENTID", "PROVIDERID", 
    "PRIMARYPATIENTINSURANCEID", "SECONDARYPATIENTINSURANCEID", "DEPARTMENTID"
]

# Keep only necessary columns
df_claims_cleaned = df_claims[columns_to_keep].copy()

# Rename `Id` to `CLAIMID`
df_claims_cleaned.rename(columns={"Id": "CLAIMID"}, inplace=True)

# Display cleaned dataset
print(df_claims_cleaned.columns.tolist())
display(df_claims_cleaned.head())

# 6.3 Filling missing values

In [ ]:
# Load payers dataset to find NO_INSURANCE PAYERID
payers_path = "C:/Users/palad/PycharmProjects/health-equity-LLM-chatbot/backend/data/processed/payers_cleaned.csv"
df_payers = pd.read_csv(payers_path)

# Fetch the PAYERID where PAYER_NAME is "NO_INSURANCE"
no_insurance_payerid = df_payers.loc[df_payers["PAYER_NAME"] == "NO_INSURANCE", "PAYERID"].values

# Ensure we have a valid PAYERID
if len(no_insurance_payerid) > 0:
    no_insurance_payerid = no_insurance_payerid[0]  # Extract the actual ID
    print(f"Using 'NO_INSURANCE' PAYERID: {no_insurance_payerid}")
    
    # Replace missing insurance values with the dynamically fetched NO_INSURANCE PAYERID
    df_claims_cleaned.loc[df_claims_cleaned["PRIMARYPATIENTINSURANCEID"].isna(), "PRIMARYPATIENTINSURANCEID"] = no_insurance_payerid
    df_claims_cleaned.loc[df_claims_cleaned["SECONDARYPATIENTINSURANCEID"].isna(), "SECONDARYPATIENTINSURANCEID"] = no_insurance_payerid

else:
    print("⚠ ERROR: NO_INSURANCE PAYERID not found in payers dataset!")

In [ ]:
print(df_claims_cleaned.dtypes)
display(df_claims_cleaned.head())

# 6.4 Repositioning key column order

In [ ]:
# Reorder columns: PATIENTID first, followed by CLAIMID
columns_order = ["PATIENTID", "CLAIMID", "PROVIDERID", "PRIMARYPATIENTINSURANCEID", "SECONDARYPATIENTINSURANCEID", "DEPARTMENTID"]
df_claims_cleaned = df_claims_cleaned[columns_order]

# Display to verify the new column order
display(df_claims_cleaned.head())

# 6.5 Saving the cleaned claims dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned claims dataset
df_claims_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "claims_cleaned.csv"), index=False)

print("✅ Cleaned claims dataset saved successfully!")

# 7.1 Payers dataset

In [ ]:
# Load payers dataset
df_payers = dfs["payers"]

# Display all column names
print("Columns in payers dataset:")
print(df_payers.columns.tolist())

# Show first 5 rows
display(df_payers.head())

# 7.2 Keeping only useful columns

In [ ]:
import os

# Select only the required columns
columns_to_keep = ["Id", "NAME", "OWNERSHIP", "AMOUNT_COVERED", "AMOUNT_UNCOVERED"]
df_payers_cleaned = df_payers[columns_to_keep].copy()

# 7.3 Renaming columns

In [ ]:
# Rename columns for clarity
df_payers_cleaned.rename(columns={"Id": "PAYERID", "NAME": "PAYER_NAME"}, inplace=True)

In [ ]:
print(df_payers_cleaned.dtypes)
display(df_payers_cleaned.head())

# 7.4 Fixing data types

In [ ]:
# Convert financial columns to numeric
numeric_columns = ["AMOUNT_COVERED", "AMOUNT_UNCOVERED"]
for col in numeric_columns:
    df_payers_cleaned[col] = pd.to_numeric(df_payers_cleaned[col], errors="coerce")

# Verify new data types
print(df_payers_cleaned.dtypes)

In [ ]:
# Display dataset info
print(df_payers_cleaned.info())

# Show a sample of the final cleaned dataset
display(df_payers_cleaned.head())

# 7.5 Saving cleaned payers dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned payers dataset
df_payers_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "payers_cleaned.csv"), index=False)

print("✅ Cleaned payers dataset saved successfully!")

# 8.1 Organizations dataset

In [ ]:
# Load organizations dataset
df_organizations = dfs["organizations"]

# Display all column names
print("Columns in organizations dataset:")
print(df_organizations.columns.tolist())

# Show first 5 rows
display(df_organizations.head())

# 8.2 Keeping only useful columns

In [ ]:
# Select only the required columns
columns_to_keep = ["Id", "NAME", "ADDRESS", "CITY", "STATE", "ZIP"]
df_organizations_cleaned = df_organizations[columns_to_keep].copy()

In [ ]:
display(df_organizations_cleaned.head())

# 8.3 Renaming columns

In [ ]:
# Rename `Id` to `ORGANIZATIONID`
df_organizations_cleaned.rename(columns={"Id": "ORGANIZATIONID"}, inplace=True)

In [ ]:
print(df_organizations_cleaned.dtypes)
display(df_organizations_cleaned.head())

# 8.4 Saving the cleaned organizations dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned organizations dataset
df_organizations_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "organizations_cleaned.csv"), index=False)

print("✅ Cleaned organizations dataset saved successfully!")

# 9.1 Providers dataset

In [ ]:
# Load providers dataset
df_providers = dfs["providers"]

# Display all column names
print("Columns in providers dataset:")
print(df_providers.columns.tolist())

# Show first 5 rows
display(df_providers.head())

# 9.2 Keeping only useful columns

In [ ]:
# Select only the required columns
columns_to_keep = ["Id", "ORGANIZATION", "NAME", "ENCOUNTERS"]
df_providers_cleaned = df_providers[columns_to_keep].copy()

# 9.3 Renaming columns

In [ ]:
# Rename columns for clarity
df_providers_cleaned.rename(
    columns={
        "Id": "PROVIDERID",
        "ORGANIZATION": "ORGANIZATIONID",
        "ENCOUNTERS": "ENCOUNTERS_COUNT"  # Represents the total number of encounters seen by the provider
    },
    inplace=True
)

In [ ]:
print(df_providers_cleaned.dtypes)

In [ ]:
# Convert ENCOUNTERS_COUNT to integer
df_providers_cleaned["ENCOUNTERS_COUNT"] = pd.to_numeric(df_providers_cleaned["ENCOUNTERS_COUNT"], errors="coerce").fillna(0).astype(int)

# Verify the updated data types
print(df_providers_cleaned.dtypes)

# 9.4 Saving cleaned providers dataset

In [ ]:
import os

# Define processed data path
PROCESSED_DATA_PATH = "../backend/data/processed/"
os.makedirs(PROCESSED_DATA_PATH, exist_ok=True)

# Save cleaned providers dataset
df_providers_cleaned.to_csv(os.path.join(PROCESSED_DATA_PATH, "providers_cleaned.csv"), index=False)

print("✅ Cleaned providers dataset saved successfully!")

In [ ]:
import pandas as pd

# Load claims dataset
claims_path = "C:/Users/palad/PycharmProjects/health-equity-LLM-chatbot/backend/data/processed/claims_cleaned.csv"
df_claims = pd.read_csv(claims_path)

# Check for missing values in each column
missing_values = df_claims.isnull().sum()

print("Missing values per column in claims dataset:")
print(missing_values)

In [ ]:
missing_secondary_insurance = df_claims_cleaned[~df_claims_cleaned["SECONDARYPATIENTINSURANCEID"].isin(df_payers_cleaned["PAYERID"])]
print(missing_secondary_insurance[["SECONDARYPATIENTINSURANCEID"]].drop_duplicates())